<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
       
    </style>
</head>
<body>
    <div id="app">
        {{paciente}} 
        <br>
        <!--<input type="text" id="nome" :value="paciente" @keyup="setPaciente($event)">-->
        <input type="text" v-model="paciente">
        <hr>
        <input type="radio" value="f" v-model="sexo">Feminino
        <input type="radio" value="m" v-model="sexo">Masculino
        <br>
        {{sexo}}
        <select v-model="plano">
            <option value="" disabled>Selecione um plano</option>
            <option value="1">Bronze</option>
            <option value="2">Ouro</option>
            <option value="3">Platina</option>
            <option value="4">Diamante</option>
        </select>
        <br>
        {{plano}}
        <br>
        <input type="checkbox" value="100" v-model="doencas"> Asma
        <input type="checkbox" value="101" v-model="doencas"> Hipertensão
        <input type="checkbox" value="102" v-model="doencas"> Covid-19
        <input type="checkbox" value="103" v-model="doencas"> HIV/AIDS
        <input type="checkbox" value="104" v-model="doencas"> Diabetes
        <br>
        {{doencas}}
        <br>

    </div>
    <script>
        const vm = new Vue ({
            el: '#app', // #para selecionar por id . para selecionar por class
            data: {
                paciente: "Daniel de Oliveira Trindade",
                sexo: '',
                plano: '',
                doencas:[],
            },
            methods: {
                setPaciente(e) {
                    this.paciente = e.target.value;
                }
            },
            computed: {

            }
        }); // vm == vue model
    </script>
</body>
</html>