<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
    <style>
       
    </style>
</head>
<body>
    <div id="app">
        <button @click="mudarEstado()">
            <span v-if="!mostrarSaldo">Mostrar saldo</span>
            <span v-if="mostrarSaldo">Esconder saldo</span>
        </button>
        <p>
            Saldo: 
            <span v-if="mostrarSaldo">R$ {{saldo}}</span>
        </p>
        <hr>
        Idade: <input type="text" id="inputIdade" @blur="mudarIdade()">
        <p v-if="idade < 18">Menor de idade</p>
        <p v-else>Maior de idade</p>
        <hr>
        Nota: <input type="text" id="inputNota">
        <br><br>
        Faltas: <input type="text" id="inputFaltas">
        <br><br>
        <button @click="preencherDadosAluno()">Enviar dados</button>
        <div v-if="verificou">
            <p v-if="nota < 5 && faltas <= 10">Reprovado por Nota</p>
            <p v-else-if="faltas > 10">Reprovado por falta</p>
            <p v-else-if="nota >= 5 && faltas <= 10">Aprovado</p>
        </div>
        <div v-else>
            Digite o valor da nota e quantidade de Faltas do aluno
        </div>
        
    </div>
    <script>
        const vm = new Vue ({
            el: '#app', // #para selecionar por id . para selecionar por class
            data: {
                saldo: 550.15,
                mostrarSaldo: false,
                idade: 0,
                nota: 0.0,
                faltas:0,
                verificou: false,
            },
            methods: {
                mudarEstado() {
                    this.mostrarSaldo = !this.mostrarSaldo;
                },
                mudarIdade() {
                    this.idade = inputIdade.value;
                },
                mudarNota() {
                    this.nota = inputNota.value;
                },
                preencherDadosAluno() {
                    this.verificou = true;
                    this.nota = inputNota.value;
                    this.faltas = inputFaltas.value;
                }
            }
        }); // vm == vue model
    </script>
</body>
</html>